server {
  listen 80 default_server;
  server_name {{ ctrl_fqdn }};

  location / {
    return 200 'hi from ctrl';
    add_header Content-Type text/plain;
  }

  location ~ /.well-known {
    root /var/www/letsencrypt;
  }
}