#!/bin/sh
ansible-playbook -i inventory playbook_lb.yml && \
    letsencrypt certonly --agree-tos -m {{ email }} --webroot --webroot-path /var/www/letsencrypt -d {{ domain }} && \
    ansible-playbook -i inventory playbook_lb.yml