server {
  listen 80 default_server;
  server_name {{ domain }};

  location / {
    add_header Content-Type text/plain;
    return 200 'hi from {{ proxy_number }}';
  }

  location ~ /.well-known {
    proxy_pass http://{{ ctrl_fqdn }};
    proxy_set_header Host {{ ctrl_fqdn }};
  }
}